{% extends "_base.html" %}


{% block content %}
    <h1>hello ... about us page</h1>
    <h2>who we are?</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus nisi delectus provident explicabo omnis asperiores possimus consequatur et repudiandae numquam, commodi blanditiis laboriosam in unde dolore consectetur libero, eaque ea.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quisquam, atque dignissimos aliquid architecto ex fuga consequuntur repellat accusantium ullam eius reprehenderit ut quibusdam assumenda numquam. Eveniet molestias dolores veniam!
        Quasi ipsum et non molestias provident velit quos hic? Suscipit odit laboriosam, dolores fugiat laborum impedit esse laudantium nulla, eveniet a, perspiciatis illum modi voluptatum nam autem cumque ab in.
        Eum quibusdam sunt cum doloribus ullam cupiditate. Consequuntur nesciunt molestias nulla nostrum minima? Fuga voluptatum veniam quaerat temporibus saepe facere ipsum, totam, explicabo vel sequi obcaecati asperiores alias! Quo, delectus!
        Nihil voluptatum quod dolore sunt! Possimus in, velit quam sapiente optio dolorem, tempore non quia itaque beatae dolores suscipit vel ad eius molestias iure tenetur cum illum, accusamus sint distinctio.
    </p>

    <h3>our team</h3>
    <ul>
        <li>nancy</li>
        <li>ali</li>
        <li>layali</li>
        <li>jihad</li>
    </ul>
{% endblock %}